<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--SSIS DB connection string.-->
    <add name="SQLServerConnection" connectionString="Data Source=DESKTOP-IIHJ91T;Initial Catalog=SSISDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--cayuse product name-->
    <add key="Product" value="GFE" />
    <!--sftp file path-->
    <add key="SFTP_Path" value="E:\SFTP\" /> 
    <!--sftp client specific log file-->
    <add key="LogFile" value="log.txt" />
    <!--sftp client data file extention-->
    <add key="DataLoadFileExtention" value=".zip" />
    <!--sftp client folder root directory count to check file is received in the valid folder or not-->
    <add key="ClientFolderRootCount" value="3" />
    <!--sql ssis job should start with below prefix-->
    <add key="SSIS_SQL_Job_Prefix" value="GFE" />
    <!--sql ssis job should end with below Suffix-->
    <add key="SSIS_SQL_Job_Suffix" value="Daily_Data_Import" />
    <!--To validate the client specific file. If it's turned on it will expect the received file with client code prefix then only it will allow the file to load-->
    <add key="CheckClientCodePrefixOnfileName" value="true" />
    <!--Mail process smtp configs start-->
    <add key="SendMail" value="true" />
    <add key="Mail_SMTP_Host" value="" />
    <add key="Mail_SMTP_ToEmails_Error" value="" />
    <!--<add key="Mail_SplitChar" value=";" />-->
    <add key="Mail_SMTP_FromEmail" value="" />
    <add key="Mail_SMTP_Port" value="" />
    
    <!--Mail process smtp configs end-->
    <!--need to mention the ssis setup location like LOCAL/UAT/PROD/FT/RGRS-->
    <add key="Setup_Environment" value="LOCAL" />
    
    
    
    <add key="Mail_SMTP_UserName" value="" />
    <add key="Mail_SMTP_Password" value="" />
    
     
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>